<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- Database connection settings -->
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestiotaskdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Santosh@1234</property>
        
        <!-- SQL dialect for your database -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        
        <!-- Update the database schema automatically -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <mapping class="com.neu.finalproject.pojo.User"></mapping>
        <mapping class="com.neu.finalproject.pojo.Team"></mapping>
        <mapping class="com.neu.finalproject.pojo.Task"></mapping>
        <mapping class="com.neu.finalproject.pojo.Org"></mapping>
    </session-factory>
    
</hibernate-configuration>