<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans -->
    <bean id="userDAO" class="com.neu.finalproject.dao.UserDAO" scope="request" />
    <bean id="orgDAO" class="com.neu.finalproject.dao.OrgDAO" scope="request" />
    <bean id="teamDAO" class="com.neu.finalproject.dao.TeamDAO" scope="request" />
    <bean id="User" class="com.neu.finalproject.pojo.User" scope="request" />
    <bean id="org" class="com.neu.finalproject.pojo.Org" scope="request" />

</beans>
